.footer {
    background-color: var(--dark-blue);
    color: #fff;
    font-size: 2rem;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.footer-item{
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

.home-image{
    height: 2rem;
}

.plusButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8A2BE1;
    border-radius: 50%;
    bottom: 25px;
    box-shadow: #8A2BE1 0px 4px 10px;
    font-size: 4rem;
    height: 50px;
    right: 5px;
    position: absolute;
    transition: transform 1s;
    width: 50px;
}

.plusButton:active {
    transform: rotate(-90deg);
}

.desktop {
    display: none;
}

@media (min-width: 600px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: inline-block;
    }
    .footer {
        font-size: 1.5rem;
        text-align: right;
        padding: 5px;
    }
}