
.header {
    background-color: #120052;
    color: #fff;
    font-size: 1.7rem;
    height: auto;
    transition: all 4s;
}

.header .header-item {
    text-align: center;
    top: 10px;
    padding: 20px;
    width: 20%;
    transition: all 0.5;
}

.header-item:first-child {
    margin-left: 20px;
}

.header-item:hover {
    background-color: #8A2BE1;
}