.quotes-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 24px;
}

.input-findAuthor{
    text-align: center;
    border: none;
    border-radius: 12px;
    font-size: 1.8rem;
    margin: 20px auto;
    transition: all 0.7s ease;
    padding: 12px;
}

.input-findAuthor::placeholder {
    font-size: 1.8rem;
}

.input-findAuthor:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    outline: none;
}

.input-findAuthor:focus{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    outline: none;
}

@media(min-width: 320px){
    .quotes-section {
        margin: 0;
        margin-bottom: 75px;
    }
    
    .input-findAuthor{
        width: 80%;
    }
}

@media(min-width: 600px){
    .quotes-section {
        width: calc(100vw - 48px);
        margin: 24px;
    }

    .quotes-section .quotes-section-container {
        margin: 0 auto;
        width: 70%;
    }

    .input-findAuthor{
        width: 50%;
    }
}