.addQuote-container{
    background: rgba(32,35,41,.8);
    position: fixed;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.addQuote-form{
    align-items: center;
    background-color: var(--white);
    border-radius: 12px;
    color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 24px;
    width: 100%;
}

.addQuote-form form{
    width: 100%;
    margin-top: 16px;
}

.addQuote-form-title{
    background-color: var(--dark-blue);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
                rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
                rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    color: var(--white);
    font-size: var(--md);
    padding: 12px;
    text-align: center;
    width: 100%;
}

textarea{
    border: 1px solid rgb(167, 167, 167);
    border-radius: 12px;
    font-family: var(--font-family);
    margin: 8px;
    padding: 12px;
}

.addQuote-form label{
    font-size: var(--lg);
    margin: 36px;
}

.addQuote-form input {
    border-radius: 12px;
    border: 1px solid rgb(167, 167, 167);
    font-size: var(--md);
    margin: 8px;
    padding: 12px;
}

.buttons-container{
    text-align: right;
}

.btn{
    border: none;
    border-radius: 8px;
    color: white;
    font-size: var(--md);
    margin: 12px 4px;
    padding: 12px;
}

.btn:hover {
    cursor: pointer;
}

.btn-agregar {
    background-color: var(--dark-purple);
}

.btn-cancelar {
    background-color: rgb(99, 99, 99);
}

@media (min-width: 320px){
    .addQuote-form{
        max-width: 300px;
    }

    textarea{
        width: 275px;
    }

    .addQuote-form input {
        width: 275px;
    }
}

@media (min-width: 600px){
    .addQuote-form{
        max-width: 500px;
    }

    textarea{
        width: 480px;
    }

    .addQuote-form input {
        width: 480px;
    }
}