.authors{
    background-color: var(--white);
    border-radius: 12px;
    color: var(--dark-blue);
}

.authors li{
    margin: 8px 0;
}

@media (min-width: 320px){
    .authors{
        font-size: var(--md);
        background-color: var(--white);
        margin: 32px;
        padding: 12px;
    }

    .authors ol {
        margin-left: 16px;
    }
}

@media (min-width: 600px) {
    .authors{
        font-size: var(--lg);
        padding: 20px;
        height: calc(100vh - 192px);
    }

}