
.header {
    background-color: #120052;
    display: none;
    color: #fff;
    font-size: var(--lg);
    transition: all 4s;
    width: 100%;
}

.header-item {
    display: inline-block;
    height: 100%;
    margin: 0  16px;
    text-align: center;
    padding: 16px;
    width: 150px;
}

.header-item span {
    transition: all 1s ease;
}

.header-item span:hover {
    opacity: 0.5;
    cursor: pointer;
    text-shadow: 0px 0px 20px rgb(255, 255, 255);

}

@media (min-width: 600px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
}