.addQuote-button {
    display: none;
}

.main-quotes .main-quotes-container{
    border-radius: 32px;
    background:var(--white);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
        rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
        rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    color: #000;
    height: auto;
    margin: 20px;
    padding: 16px;
    width: calc(100vw - 20px);
}

.main-quotes .main-quotes-container:hover{
    cursor: pointer;
}

.main-quotes .main-quotes-container .title{
    font-size: var(--lg);
    font-weight: bold;
    margin-bottom: 12px;
    text-align: center;
}

.main-quotes .main-quotes-container .quote{
    font-size: var(--sm);
}

.main-quotes .main-quotes-container .author{
    text-align: right;
    margin-right: 24px;
    font-size: var(--sm);
}

.main-quotes .main-quotes-container .authors{
    font-size: var(--sm);
}


.main-quotes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 20px);
}

@media (min-width: 320px) {
    .main-quotes .main-quotes-container .title{
        font-size: var(--md);
    }
    
    .main-quotes .main-quotes-container .quote{
        font-size: var(--md);
    }
    
    .main-quotes .main-quotes-container .authors{
        font-size: var(--md);
    }
}

@media (min-width: 600px) {
    .addQuote-button {
        align-self: center;
        border: none;
        background-color: var(--dark-purple);
        border-radius: 16px;
        color: var(--white);
        display: block;
        font-family: var(--font);
        font-size: var(--lg);
        font-weight: bold;
        padding: 16px;
        transition: all 0.7s ease;
        width: 30%;
    }

    .addQuote-button:hover {
        cursor: pointer;
        background-color: var(--ligth-purple);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
                    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
                    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    }
    
    .main-quotes{
        height: calc(100vh - 130px);
    }

    .main-quotes .main-quotes-container{
        margin: 16px;
        padding: 32px;
        width: 60%;
    }

    .main-quotes .main-quotes-container .title{
        font-size: var(--lg);
    }
    
    .main-quotes .main-quotes-container .quote{
        font-size: var(--lg);
    }
    
    .main-quotes .main-quotes-container .authors{
        font-size: var(--lg);
    }
    
}