.quote-container {
    background-color: var(--white);
    border: solid 1px rgb(209, 209, 209);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    color: var(--dark-blue);
    margin: 12px;
    padding: 12px;
}

.quote{
    text-align: center;
}

.quote-author {
    margin: 8px;
    text-align: right;
}

.main-quotes_container .title {
    text-align: center;
}

.like{
    margin-left: 20px;
}

.like:hover{
    cursor: pointer;
}

@media(min-width: 320px){
    .quote-container {
        font-size: var(--sm);
        width: calc(100vw - 24px);
    }
}

@media(min-width: 600px){
    .quote-container {
        font-weight: lighter;
        font-size: var(--md);
        width: 40%;
    }
}
