.quotes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 24px;
}

.quotes__input{
    text-align: center;
    border: none;
    border-radius: 12px;
    font-size: var(--md);
    margin: 20px auto;
    transition: all 0.7s ease;
    padding: 12px;
}

.quotes__input::placeholder {
    font-size: var(--md);
}

.quotes__input:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    outline: none;
}

.quotes__input:focus{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    outline: none;
}

@media(min-width: 320px){
    .quotes {
        margin: 0;
        margin-bottom: 75px;
    }
    
    .quotes__input{
        width: 80%;
    }
}

@media(min-width: 600px){
    .quotes {
        width: calc(100vw - 48px);
        margin: 24px;
    }

    .quotes__container {
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .quotes__input{
        width: 50%;
    }
}