/* Colors:

    3CB9FC
    B537F2
    8A2BE1
    120052

*/


:root{
    --ligth-blue: #3CB9FC;
    --dark-blue: #120052;
    --ligth-purple: #B537F2;
    --dark-purple: #8A2BE1;
    --white: #f3f3f3;
    --background-color: #e0e0e0;
    --font-family: 'Lato', sans-serif;;
}

body {
    background-color: var(--background-color);
    color: var(--ligth-blue);
    font-family: var(--font-family);
}